.similarProductsSliderWrap {
  font-family: 'Sarabun', sans-serif !important;
  padding: 10px 6%;
  background-color: rgb(250, 248, 231);
  .cardImageWrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
