.productListWrap {
  .bannerWrapper {
    padding: 130px 100px 90px 100px;
    display: flex;
    justify-content: space-between;
    background: url('../../assets/headerSlantBgDesktop.svg') 0px -73px no-repeat; /* Apply background image with position and no-repeat */
    background-size: cover;
  }

  .bannerHeader {
    font-family: 'Sarabun', sans-serif !important;
    font-size: 48px;
    color: #083863;
    margin-bottom: 16%;
    font-weight: 800;
    margin-top: 0;
  }
  .uspDetailsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #083863;
  }
  .uspDetailsDiv {
    text-align: center;
  }

  .uspImg {
    display: block;
    width: 50px;
    margin: auto;
    margin-bottom: 10%;
    height: 50px;
  }
  .pincodeWrapper {
    font-weight: 800;
    font-size: 32px;
    font-family: 'Sarabun', sans-serif !important;
    color: #083863;
    margin: 10px 50px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pincodeDiv {
      background: #f7f7f7;
      color: #a6a0a0;
      font-weight: 600;
      font-size: 16px;
      font-family: 'Sarabun', sans-serif !important;
      border-radius: 5px;
      height: 64px;
      width: 472px;
      /* padding: 20px 10px; */
      .inputForm {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0px 10px;
      }
      img {
        margin-right: 2%;
        vertical-align: middle;
        border-style: none;
      }
      span {
        color: #00bbb4;
        cursor: pointer;
        font-weight: normal;
      }

      input[type='tel'] {
        background: transparent;
        border: 0px;
        outline: none;
        width: 63%;
        font-weight: normal;
        padding: 20px 0px;
      }
    }
  }
}
.allProductsHeading {
  margin: unset;
}
