.productCardParent {
  display: grid;
  gap: 16px;
  margin: 0 100px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  .productCardWrap {
    overflow: hidden;
    .percentWrap {
      height: 20px;
      width: 20px;
      background-color: rgb(0, 187, 180);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    .product-price {
      font-weight: 600;
      font-size: 20px;
      font-family: 'Sarabun', sans-serif !important;
      color: #00bbb4;
      margin: 6% 0px;
    }
    .MuiPaper-rounded {
      box-shadow: unset;
    }
    .contentDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding-bottom: 20px;
      min-height: 480px;
      border: 1px solid #d5d5d5;
      box-sizing: border-box;
      .cardContentWrap {
        .MuiCardContent-root {
          text-align: center;
          min-height: 9rem;
        }
        .MuiTypography-root {
          font-weight: 600;
          font-size: 21px;
          font-family: 'Sarabun', sans-serif !important;
        }
        .product-price {
          color: #00bbb4;
          margin: 6% 0px;
          .cancelLine {
            color: #6e6e6e;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
