body {
  margin: 0px;
  padding: 0px;
  font-family: 'Sarabun', sans-serif !important;
}
.headerElementParent {
  width: 100%;
  display: flex;
  justify-content: right;
}
.headerElement {
  display: flex;
  background-color: red;
  margin-left: 20px;
}
